body {
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y:auto
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
}.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}