.login-wrapper {

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f4f6f8;

}


.login-box {

    width:350px;

    padding:30px;

    background:white;

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,0.15);

}


.login-box h2 {

    text-align:center;

    margin-bottom:25px;

}



.form-group {

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}



.form-group label {

    margin-bottom:8px;

    font-weight:600;

}



.form-group input {

    padding:12px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:15px;

}



.form-group  {

    outline:none;

    border-color:#3a9fb0;

}



.loginbutton {

    width:100%;

    padding:12px;

    background:#3a9fb0;

    color:white;

    border:none;

    border-radius:6px;

    font-size:16px;

    cursor:pointer;

}


.loginbutton:hover {

    background:#3a9fb0;

}.login-body {
    overflow: hidden;
}