.navbar {

    height:60px;

    background:#1f2937;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 40px;

}


.logo {

    color:white;

    font-size:22px;

    font-weight:bold;

}


.menu {

    display:flex;

    align-items:center;

    gap:25px;

}



.menu a {

    color:white;

    text-decoration:none;

    font-size:16px;

}



.menu a:hover {

    color:#60a5fa;

}



.logout-btn {

    background:#ef4444;

    color:white;

    border:none;

    padding:8px 18px;

    border-radius:5px;

    cursor:pointer;

    font-size:15px;

}



.logout-btn:hover {

    background:#dc2626;

}